@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("ttf");
}
@import "./variables/colors";
@import "./variables/typography";
@import "./variables/miscellaneous";

body {
  font-family: "Space Grotesk", sans-serif;
  color: $font-color;
}

header,
main {
  background-color: $main-background;
}

footer {
  background-color: $secondary-background;
}
